<!DOCTYPE html>
<!-- Structure principale du document HTML en français -->
<html lang="fr">

<!-- En-tête de la page contenant les métadonnées et les liens vers les ressources externes -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/3d24ae3fdc.js" crossorigin="anonymous"></script>

    <!-- Configuration des différentes versions du favicon pour différents appareils et navigateurs -->
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">

    <title>Ressources | Sensibilisation au Handicap</title>
</head>

<!-- Corps de la page -->

<body class="ressources-page">
    <!-- En-tête du site avec la navigation principale -->
    <header>
        <nav id="navbar">
            <!-- Logo et titre du site avec liens vers la page d'accueil -->
            <a href="../index.html">
                <img id="logo" src="../assets/img/logo.png" alt="Sensibilisation au Handicap logo">
            </a>

            <a href="../index.html">
                <h2>Sensibilisation au Handicap</h2>
            </a>

            <!-- Menu de navigation principal -->
            <ul>
                <li><a href="../templates/types.html">Types de handicaps</a></li>
                <li><a href="../templates/temoignages.html">Témoignages</a></li>
                <li><a href="../templates/ressources.html">Ressources</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li><a href="../templates/about.html">À propos</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenu principal de la page -->
    <main>
        <!-- Section héro avec titre et description -->
        <section id="hero">
            <div class="hero-text">
                <h1>Ressources et outils pour vous accompagner</h1>
                <p>Découvrez des outils et des informations essentielles pour mieux comprendre et vivre avec le
                    handicap. Que vous soyez concerné ou un professionnel, cette page vous offre des ressources utiles
                    pour favoriser l'inclusion et le soutien.</p>
            </div>
        </section>

        <!-- Section des guides pratiques avec documents PDF -->
        <section class="articles-section" id="ressources">
            <h2 class="vertical-padding-20 centered-text"> Explorez des guides pratiques utiles pour soutenir les
                personnes en situation de handicap</h2>

            <!-- Grille de cartes présentant les différents guides -->
            <div class="guides-grid">
                <!-- Guide pour aider les personnes malvoyantes -->
                <div class="guide-card" id="comment-aider-une-personne-malvoyante">
                    <h4>Comment aider<br> une personne malvoyante</h4>

                    <div class="document-preview">
                        <iframe src="../assets/documents/Comment_aider_une_personne_malvoyante.pdf#toolbar=0"
                            frameborder="0"></iframe>
                    </div>

                    <div class="click-to-download">
                        <a href="../assets/documents/Comment_aider_une_personne_malvoyante.pdf" download>
                            Cliquez pour télécharger le fichier PDF
                            <i class="fa-solid fa-file-arrow-down"></i>
                        </a>
                    </div>
                </div>

                <!-- Guide sur l'accessibilité des bâtiments -->
                <div class="guide-card" id="accessibilite-des-batiments">
                    <h4>Accessibilité <br> des bâtiments </h4>

                    <div class="document-preview">
                        <iframe src="../assets/documents/Accessibilité_des_bâtiments.pdf#toolbar=0"
                            frameborder="0"></iframe>
                    </div>

                    <div class="click-to-download">
                        <a href="../assets/documents/Accessibilité_des_bâtiments.pdf" download>
                            Cliquez pour télécharger le fichier PDF
                            <i class="fa-solid fa-file-arrow-down"></i>
                        </a>
                    </div>
                </div>

                <!-- Guide sur les aides techniques -->
                <div class="guide-card" id="aides-techniques-avantages">
                    <h4>Les avantages des aides techniques pour
                        les personnes handicapées</h4>

                    <div class="document-preview">
                        <iframe src="../assets/documents/aides-techniques-avantages.pdf#toolbar=0"
                            frameborder="0"></iframe>
                    </div>

                    <div class="click-to-download">
                        <a href="../assets/documents/aides-techniques-avantages.pdf" download>
                            Cliquez pour télécharger le fichier PDF
                            <i class="fa-solid fa-file-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section des aides sociales et droits -->
        <section class="articles-section" id="social-help">
            <h2 class="vertical-padding-20 centered-text"> Les droits et les aides pour les personnes en situation de
                handicap</h2>
            <!-- Carte d'article présentant les différentes aides financières -->
            <div class="article-card columned">
                <img src="../assets/img/Toutes_les_aides_financières.webp"
                    alt="Femme tenant une pièce de monnaie, sur le point de l'offrir à une personne handicapée, symbolisant une aide financière.">
                <div class="article-card-text">
                    <p>Retrouvez sur cette page des liens pour accéder rapidement aux aides financières destinées aux
                        <strong>personnes handicapées</strong> et à leurs proches.
                    </p>

                    <h3>Aides générales</h3>

                    <!-- Liste des liens vers les différentes aides disponibles -->
                    <ul class="general-help">
                        <li>
                            <a href="https://www.monparcourshandicap.gouv.fr/aides/lallocation-aux-adultes-handicapes-aah"
                                target="_blank">
                                L'allocation aux adultes handicapés (AAH)</a>
                        </li>

                        <li>
                            <a href="https://www.monparcourshandicap.gouv.fr/aides/la-carte-mobilite-inclusion-mention-priorite"
                                target="_blank">La carte mobilité inclusion (CMI) - mention priorité</a>
                        </li>

                        <li>
                            <a href="https://www.monparcourshandicap.gouv.fr/aides/la-carte-mobilite-inclusion-mention-invalidite"
                                target="_blank">La
                                carte mobilité inclusion (CMI) - mention invalidité</a>
                        </li>

                        <li>
                            <a href="https://www.monparcourshandicap.gouv.fr/aides/la-majoration-pour-la-vie-autonome-mva-un-complement-pour-vivre-chez-soi"
                                target="_blank">La majoration pour la vie autonome</a>
                        </li>

                        <li>
                            <a href="https://www.service-public.fr/particuliers/vosdroits/F672" target="_blank">La
                                pension d'invalidité</a>
                        </li>

                        <li>
                            <a href="https://www.monparcourshandicap.gouv.fr/aides/la-prestation-de-compensation-du-handicap-pch"
                                target="_blank">La prestation de compensation du handicap (PCH)</a>
                        </li>

                        <li>
                            <a href="https://www.service-public.fr/particuliers/vosdroits/N31477" target="_blank">La
                                prime d'activité</a>
                        </li>
                    </ul>

                    <!-- Lien vers plus d'informations -->
                    <a href="https://handicap.gouv.fr/toutes-les-aides-financieres-pour-le-handicap" target="_blank"
                        id="link-to-handicap-gouv-fr">Cliquez ici pour
                        plus d'informations sur le site handicap.gouv.fr</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Pied de page -->
    <footer>
        <div class="footer-container">
            <!-- Section gauche du footer avec logo et newsletter -->
            <div class="footer-left">
                <div class="footer-logo">
                    <img src="../assets/img/logo.png" alt="Sensibilisation au Handicap logo">
                    <h3>Sensibilisation au Handicap</h3>
                </div>
                <p>&copy; 2024 Sensibilisation au Handicap. Tous droits réservés.</p>

                <!-- Formulaire d'inscription à la newsletter -->
                <form action="" method="#" class="newsletter">
                    <label for="newsletter-email">Inscrivez-vous à notre newsletter pour rester informé !</label>

                    <div class="newsletter-signup">
                        <input type="email" id="newsletter-email" placeholder="Votre adresse e-mail" required>
                        <button type="submit" class="sign-up-to-newsletter">S'inscrire</button>
                    </div>
                </form>
            </div>

            <!-- Section centrale du footer avec liens légaux -->
            <div class="footer-center">
                <h4>Informations Légales</h4>
                <ul>
                    <li><a href="../templates/mentions-legales.html">Mentions légales</a></li>
                    <li><a href="../templates/politique-confidentialite.html">Politique de confidentialité</a></li>
                    <li><a href="../templates/gestion-cookies.html">Gestion des cookies</a></li>
                    <li><a href="../templates/cgu.html">Conditions générales d'utilisation</a></li>
                </ul>
            </div>

            <!-- Section droite du footer avec coordonnées et réseaux sociaux -->
            <div class="footer-right">
                <h4>Contactez-nous</h4>
                <p><a href="mailto:contact@sensibilisation-handicap.fr">contact@sensibilisation-handicap.fr</a></p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i>Twitter</a>
                    <a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>